<Files "kitties1">
  SetHandler default-handler
  ForceType "image/jpeg"
  Header set "Content-Disposition" "inline"
</Files>
<Files "kitties2">
  SetHandler default-handler
  ForceType "image/jpeg"
  Header set "Content-Disposition" "inline"
</Files>
