<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Firefly</name>
  <service>
    <type>_daap._tcp</type>
    <port>3689</port>
  </service>
</service-group>
